-r requirements-heavy.txt

gunicorn==19.9.0
aiohttp-swagger==1.0.5

# InfluxDB
aioinflux==0.5.1

# for grabber and aggregator
aiokafka==0.5.1

# optional aiokafka dependencies
lz4tools==1.3.1.2
xxhash==1.3.0

sentry-sdk==0.7.10
python-json-logger==0.1.11

click==7.0
